* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


h1 {
    text-align: center;
    background-color: rgba(0, 0, 255, 0.596);
    margin-bottom: 20px;
    padding-top: 10px;
    height: 50px;
    font-weight: bold;
    color: white;

}

.wrapper {
    display: flex;
    padding-left:20px;
    padding-top:20px;
    


}




.search-header h2 {
    padding-bottom:5px;
  
}


.search-city-input {
    
    display:block;
    height:30px;
    margin-bottom: 10px;
    


}

.search-bttn {
    margin-bottom: 30px;
    width:100%;
}


.search-container {
    padding-right:20px;
}



.weather-cards {
    display: flex;
    padding-top:40px;
    


}

.city-option {
    display: block;
    width:100%;
    padding:5px;
    
    margin-top:10px;
}

.fiveday-forcast {
    padding-top:100px;

}

.current-city-display {
    padding-left:30px;
    padding-top:20px;
}