* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

 body {
    background-image: url(./images/backgroundimg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
 }


h1 {
    text-align: center;
    
    
    padding-top: 10px;
    background-color:rgba(8, 8, 90, 0.747);


    font-weight: bold;
    color: white;
    

}




.wrapper {
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
    
}

.search-header h2 {
    padding-bottom: 5px;
    

}

.search-container h2 {
    color:white;
}

.search-city-input {

    display: block;
    height: 30px;
    margin-bottom: 10px;



}

.search-bttn {
    margin-bottom: 30px;
    width: 100%;
}


.search-container {
    padding-right: 20px;
}


.wrapper-cards {
    display: flex;
    justify-content: space-between;
    padding-right:10px;
    
    
}
.temp {
    padding-left:5px;
}

.wind {
    padding-left:5px;
}

.humidity {
    padding-left:5px;
}
.weather-cards {
    display: block;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    background-color: #1010f591;
    border: 2px solid black;
    width:300px;
    



}

.date {
    padding-left:20px;
    font-weight: bold;
    color:yellow;
}
.city-option {
    display: block;
    width: 100%;
    padding: 5px;
    background-color:rgba(128, 128, 128, 0.384);
    border-color: 2px solid white;
    font-weight:bold;
    border-radius:5px;
    margin-top: 10px;
    color:white;
}

.fiveday-forcast {
    padding-top: 20px;
    color:white;


}




.current-city-display {
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color:rgba(226, 250, 11, 0.973);
 }


.current-city-display h2 {
    padding-bottom: 20px;
    
}

.current-city-wrapper {
    width:50%;
}

.current-date {
    padding-bottom: 10px;
}

.wind {
    padding-bottom: 10px;
}

.temp {
    padding-bottom: 10px;
}


.monday-forcast {
    background-color:rgba(128, 128, 128, 0.24);
    padding: 5px;
    width: 30%;
    height: 200px;
    margin-right: 5px;
   
    color:black;

}

.tuesday-forcast {
    background-color:rgba(8, 8, 90, 0.747);
    padding: 5px;
    width: 30%;
    height: 200px;
    margin-right: 5px;
    

}


.wednesday-forcast {
    background-color: rgba(128, 128, 128, 0.24);
    padding: 5px;
    width: 30%;
    height: 200px;
    margin-right: 5px;
   

}


.thursday-forcast {
    background-color: rgba(128, 128, 128, 0.24);
    padding: 5px;
    width: 30%;
    height: 200px;
    margin-right: 5px;
   

}


.friday-forcast {
    background-color:rgba(128, 128, 128, 0.24);
    padding: 5px;
    width: 30%;
    height: 200px;
    margin-right: 5px;
    

}


.saturday-forcast {
    background-color: rgba(128, 128, 128, 0.24);
    padding: 5px;
    width: 30%;
    height: 200px;
    margin-right: 5px;
    

}


.sunday-forcast {
    background-color: rgba(128, 128, 128, 0.24);
    padding: 5px;
    width: 30%;
    height: 200px;
    margin-right: 5px;
    
}


.search-history {
    font-size: 20px;
    color:white;
    background-color: rgb(18, 7, 82);
    text-align: center;
    border: 2px solid black;
    border-radius: 2px;
    margin-bottom: 5px;
}

.clear-history {
float:center;
}

.recentItem {
background-color: white;

}