* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
}


h1 {
    text-align: center;
    background-color:rgba(0, 0, 255, 0.596);
    margin-bottom: 20px;
    padding-top:10px;
    height:50px;
    font-weight: bold;
    color:white;
    
}

.wrapper {
    display:flex;
    

}

.weather-cards {
    display:flex;
    
}

.city-option {
    display:block;
}